

  .page{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.header{
    background-color: #caebf2;
    height: 100px;
    text-align: center;
}

.middle{
    background-color: #caebf2;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    padding: 5px;
}

#buttons{
    background-color: #caebf2;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#choose{
    text-align: center;
    font-weight: bold;
    margin-top: 75px;
    
}

#scores{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#computer, #player, #wld{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.footer{
    background-color: #caebf2;
    height: 70px;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-weight: bold;
  }

button {
    font-size: 25px;
    font-weight: bold;
    background-color: #B8B8FF;
    height: 100px;
    width: 200px;
    border: 0px;
    border-radius: 12px;
    box-shadow: 4px 4px 5px darkslategrey;
}